# Ignore o ambiente virtual do Python
.venv/

# Ignore o arquivo de variáveis de ambiente
.env

# Ignore outros arquivos de configuração ou sensíveis
# Por exemplo, arquivos de log, caches, etc.
*.log
*.cache

# Ignore diretórios de build
build/
dist/

# Ignore arquivos de sistema
.DS_Store
Thumbs.db
#arquivo de configuração usado pelo Git para especificar quais arquivos e pastas devem ser ignorados no
# controle de versão. Isso significa que estes arquivos não serão rastreados ou enviados para o 
# repositório.
